<table class="users" summary="User Information">
  <tr>
    <th>Name</th>
    <% @users.each do |user| %>
    </tr> 
    <td> 
    <%= user.name %>
    </td>
    </tr>
    <% end %>
  </tr>
</table>